$padding1: 50px;
$padding2: 30px;
$borderRadius: 10px;

$borderColor: #ddd;
$appBackgroundColor: #eee;

$textColor: #555;

/* colors */
$white: #fff;
$gray1: #f8f9fa;
$gray2: #e9ecef;
$gray3: #dee2e6;
$gray4: #ced4da;
$gray5: #adb5bd;
$gray6: #6c757d;
$gray7: #495057;
$gray8: #343a40;
$gray9: #212529;
$black: #000;
$brandColor: #2185d0;
$red: #e24d5c;
$orange: #F6C143;
$green: #59c074;
$blue: #55bbf4;
$purple: #B086F7;
$violet: #8191FF;
$indigo: #5261BD;
