@import 'mixins.scss';
@import 'variables.scss';

body {
  margin: 0;
  background-color: #fff;
}

body, input, textarea, button {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  cursor: default;
  box-sizing: border-box;
}

#app {
  padding: $padding1;
}

.searchInput {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  line-height: 16px;
  border: 1px solid #ddd;
  border-radius: $borderRadius;
  &:focus {
    border-color: #0d83e3;
  }
}

.apps {
  display: grid;
  gap: $padding2;
  margin-top: $padding2;
  grid-template-columns: repeat(4, 1fr);

  .app {
    .appLogo {
      background-color: #eee;
      @include aspectRatio(1, 1);
      border-radius: $borderRadius;
    }

    .appName {
      margin-top: 10px;
      text-align: center;
    }
  }
}
