@mixin aspectRatio ($ratio1, $ratio2) {
  display: block;
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-bottom: ($ratio2 / $ratio1) * 100%;
  }

  >.arContent {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-size: cover;
    background-position: center center;
  }
}
