#appStore {
  padding: $padding1;

  .apps {
    .app {
      $logoWidth: 70px;

      width: 100%;
      margin-top: $padding2;
      &:after {
        content: '';
        clear: both;
        display: table;
      }
      &:first-child {
        margin-top: 0;
      }

      .appLogo {
        float: left;
        width: $logoWidth;
        height: $logoWidth;
        background-size: cover;
        background-position: center;
        border-radius: $borderRadius;
        background-repeat: no-repeat;
        background-color: $appBackgroundColor;
      }

      .appDetails {
        float: left;
        overflow: hidden;
        height: $logoWidth;
        padding-left: 20px;
        width: calc(100% - #{$logoWidth});

        .appName {
          line-height: 20px;
          font-weight: bold;
        }

        .appAuthor, .appDescription {
          margin-top: 5px;
          line-height: 20px;
        }
      }
    }
  }
}
