#apps {
  padding: $padding1;

  .apps {
    display: grid;
    gap: $padding2;
    grid-template-columns: repeat(5, 1fr);

    .app {
      .appLogo {
        @include aspectRatio(1, 1);
        border-radius: $borderRadius;
        background-color: $appBackgroundColor;
      }

      .appName {
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}
